[Desktop Entry]
Type=Application
Exec=gdbus call --session --dest org.qubesos.appmenu --object-path "/org/qubesos/appmenu" --method org.freedesktop.Application.Activate "{}"
Icon=qubes-manager
Terminal=false
Name=Open Qubes Application Menu
GenericName=Open Qubes Application Menu
StartupNotify=false
OnlyShowIn=X-Invalid;
