include:
  - project: 'QubesOS/qubes-continuous-integration'
    file: '/r4.2/gitlab-base.yml'
  - project: 'QubesOS/qubes-continuous-integration'
    file: '/r4.2/gitlab-host.yml'
  - project: 'QubesOS/qubes-continuous-integration'
    file: '/r4.2/gitlab-vm.yml'

checks:pylint:
  stage: checks
  before_script:
    - sudo dnf install -y python3-gobject gtk3 xorg-x11-server-Xvfb 
      python3-pip python3-mypy gtk-layer-shell
    - pip3 install --quiet -r ci/requirements.txt
    - git clone https://github.com/QubesOS/qubes-core-admin-client ~/core-admin-client
  script:
    - PYTHONPATH=~/core-admin-client:. python3 -m pylint --rcfile=.pylintrc qubes_menu qubes_menu_settings
    - mypy

checks:tests:
  stage: checks
  variables:
    PYTEST_ADDOPTS: "--color=yes"
  before_script: &before-script
    - "PATH=$PATH:$HOME/.local/bin"
    - sudo dnf install -y python3-gobject gtk3 python3-pytest python3-pytest-asyncio
      python3-coverage xorg-x11-server-Xvfb python3-inotify sequoia-sqv 
      python3-pip gtk-layer-shell
    - pip3 install --quiet -r ci/requirements.txt
    - git clone https://github.com/QubesOS/qubes-core-admin-client ~/core-admin-client
    - git clone https://github.com/QubesOS/qubes-desktop-linux-manager ~/desktop-linux-manager
  script:
    - PYTHONPATH=~/core-admin-client:~/desktop-linux-manager:. xvfb-run ./run-tests.sh
  after_script:
    - "PATH=$PATH:$HOME/.local/bin"
    - ci/codecov-wrapper

