[Desktop Entry]
Type=Application
Exec=qubes-app-menu --background
Icon=qubes-manager
Terminal=false
Name=Qubes Application Menu
GenericName=Qubes Application Menu
StartupNotify=false
Hidden=True
