[Desktop Entry]
Type=Application
Exec=systemctl --user start qubes-app-menu
Icon=qubes-manager
Terminal=false
Name=Qubes Application Menu
GenericName=Qubes Application Menu
StartupNotify=false
Hidden=True
