. {
font-family: SourceSansPro;
  font-size: 100%;
}

/* this is a silly workaround for some window managers like KDE
 that insist on providing their own background for listrows*/
list :not(:selected) {
    background: inherit;
}

#main_notebook {
    padding-top: 10px;
    background: @left-background;
    border-width: 0 7px 0 0;
    border-color: @outer-background;
}

.left_pane  {
  background: @left-background;
  color: @text-color;
  border-width: 0;
}

.toplevel_left_pane {
  background: @left-background;
  color: @text-color;
  border-width: 0 1px 0 1px;
  border-color: @separator;
  border-style: solid;
}

.right_pane  {
  background: @right-background;
  color: @text-color;
  padding-top: 10px;
  border-width: 0;
}

.control_panel  {
  background: @right-background;
  color: @text-color;
  border-width: 0;
  padding-bottom: 10px;
}

#main_notebook header {
    background: @outer-background;
    border-width: 0;
}

#main_notebook image:hover, image:focus {
    background-image: linear-gradient(to bottom, @highlight-blue-1, @highlight-blue-2);
}


.vm_buttons {
  background: @left-background;
  opacity: 0.9;
  border-width: 2px 0px 0px 0px;
  border-color: @left-background;
  border-radius: 0px;
  margin: 4px 10px 4px 2px;
  font-weight: 500;
  letter-spacing: 2px;
  color: @buttons-bg;
  padding: 10px;
}

.vm_buttons:hover, .vm_buttons:focus {
    transition: none;
    text-shadow: none;
    color: @text-color;
}

.vm_buttons:checked {
  border-color: @text-color;
  font-weight: 900;
}

.vm_entry {
  padding: 10px;
}

.dispvm_entry {
  font-style: italic;
}

.dispvm_icon {
    padding-left: 40px;
    padding-top: 0;
    margin-top: 0;
}

.dvm_template_entry {
    font-style: italic;
}

.running_vm {
  font-weight: bold;
}

.favorite_entry {
  padding: 4px 0 4px 5px;
}

.favorite_entry:focus {
 background-image: linear-gradient(to bottom, @highlight-blue-1, @highlight-blue-2);
 color: @text-highlight;
}

.favorite_app_name {
  padding: 0px 0 3px 5px
}

.favorite_vm_name {
  font-size: 80%;
  padding: 0 5px;
}

.app_entry {
  padding: 3px 0 3px 20px;
}

.app_entry:focus {
 background-image: linear-gradient(to bottom, @highlight-blue-1, @highlight-blue-2);
 color: @text-highlight;
}

.network_indicator {
    font-style: italic;
    color: @buttons-bg;
    background: inherit;
}

.power {
  background: @outer-background;
  opacity: 0.9;
  border-width: 0;
  border-color: @outer-background;
  border-radius: 0;
  box-shadow: none;
}

.power:hover {
    background-image: linear-gradient(to bottom, @highlight-blue-1, @highlight-blue-2);
}

.right_menu {
  background: @left-background;
  opacity: 0.9;
  margin: 0;
  padding: 0px;
  color: @text-color;
}

.settings_category_row {
 padding: 15px;
 font-size: 105%;
 font-weight: bold;
}

.search_title {
 padding: 10px;
 font-size: 110%;
 font-weight: bold;
}

undershoot.bottom {
  background-image: linear-gradient(to bottom, @bg-color 0%, @highlight-blue-2);
  padding-bottom: 1px; }

undershoot.top {
  background-image: linear-gradient(to top, @bg-color 0%, @highlight-blue-2);
  padding-bottom: 1px; }

overshoot.top, overshoot.bottom {
 background: none;
}

separator {
    border: none;
    background: @separator;
    margin: 10px;
    padding: 0px;
}

.search_highlight {
    background: @highlight-blue-2;
    color: @text-color-highlight;
}

.search_entry {
    background: @outer-background;
    color: @text-color-contrast;
}

.placeholder {
 padding: 10px;
}

.network_indicator * {
background: inherit;
}

.favorite_entry grid {
background: none;
}
