@define-color highlight-blue-1 #4488df;
@define-color highlight-blue-2 #326fbe;
@define-color left-background #2e2e2e;

@define-color apps-background #3e3e3e;

@define-color outer-background #232323;
@define-color bottom-background #232323;
@define-color seperator-color #232323;
@define-color text-color #e4e3e3;

#main_notebook {
    background: @left-background;
    border-width: 0px;
}

.apps_pane {
  background: @apps-background;
  color: @text-color;
  padding-top: 10px;
  border-width: 0;
}

#main_notebook header {
    background: @outer-background;
    border-width: 0;
}

#main_notebook image:hover, image:focus {
    background-image: linear-gradient(to bottom, @highlight-blue-1, @highlight-blue-2);
}

.favorite_entry {
  padding: 8px 0 8px 10px;
}

.favorite_entry:hover {
 background-image: linear-gradient(to bottom, @highlight-blue-1, @highlight-blue-2);
}

.favorite_app_name {
  padding: 0px 0 5px 10px
}

.favorite_vm_name {
  font-size: 80%;
  padding: 0 5px;
}

.app_entry {
  padding: 5px 0 5px 20px;
}

.app_entry:hover, .app_entry:focus {
  background-image: linear-gradient(to bottom, @highlight-blue-1, @highlight-blue-2);
}

.bottom_toggles {
  background: @bottom-background;
}

.network_indicator {
    font-style: italic;
    color: #9b9b9b;
}

.power {
  background: @outer-background;
  opacity: 0.9;
  border-width: 0;
  border-color: @outer-background;
  border-radius: 5px;
  box-shadow: none;
}

.power:hover {
  background-color: #fff;
}

.right_menu {
  background: @left-background;
  opacity: 0.9;
  margin: 0;
  padding: 0px;
  color: @text-color;
}

undershoot.bottom {
  background-image: linear-gradient(to bottom, @bg-color 0%, @highlight-blue-2);
  padding-bottom: 1px;
}

undershoot.top {
  background-image: linear-gradient(to top, @bg-color 0%, @highlight-blue-2);
  padding-bottom: 1px; 
}

overshoot.top, overshoot.bottom {
 background: none;
}

separator {
    border: solid 1px @seperator-color;
    background: @seperator-color;
    margin: 20px;
    padding: 0px;
}

label {
  color: @text-color;
}

tab:hover {
  background-color: #686868;
}